<h1>Another Car Creator!!!!</h1>

<form [formGroup]="carForm" (ngSubmit)="onSubmit(carForm.value)">
    <label for="make">Make:</label>
    <input type="text" id="make" formControlName="make" placeholder="Make here" required>
    
    <label for="model">Model:</label>
    <input type="text" id="model" formControlName="model" placeholder="Model here" required>
    
    <label for="year">Year:</label>
    <input type="text" id="year" formControlName="year" placeholder="Year here" required>
    
    <label for="mileage">Mileage:</label>
    <input type="text" id="mileage" formControlName="mileage" placeholder="Mileage here" required>
    
    <button class="button" type="submit" >Add Car</button>
</form>

<table>
    <th>
        <tr>
            <td>Make</td>
            <td>Model</td>
            <td>Year</td>
            <td>Mileage</td>
            <td>Delete</td>
        </tr>
    </th>
    <tbody>
        <tr *ngFor="let car of cars$ | async">
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.mileage}}</td>
            <button class="button" (click)="removeCar(car)">Delete</button>
        </tr>
    </tbody>
    
</table>